@page
@model Liviu_Padurariu_Proiect.Pages.Cars.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.CarMaker)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.CarMaker.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Color)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Color.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Transmission)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Transmission.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Seats)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Seats)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.HP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.HP)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Car.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
